{% extends '../index-common.html' %}
{% block title %}React{% endblock %}
{% block content %}
<script src="/lib/react-15.0.2.min.js"></script>
<script src="/lib/react-dom-15.0.2.min.js"></script>
<script src="/lib/browser.min.js"></script>
<script src="/lib/classnames.min.js"></script>
<script src="/lib/meiosis-react.min.js"></script>
<script src="/todomvc/common/events.js"></script>
<script src="/todomvc/react/view.jsx" type="text/babel"></script>
<script src="/todomvc/react/main.jsx" type="text/babel"></script>
{% endblock %}
