<sky-option>
  <label class="radio-inline">
    <input
      type="radio"
      name="conditions"
      value={ props.value }
      checked={ props.state.sky === props.value }
      onchange={ evt => props.update({ sky: evt.target.value }) }
    />
    { props.label }
  </label>
</sky-option>